.content {
  background: $cream;
  color: $black;
  overflow: auto;
}

.page {
  @extend %wrapper;
}

.contact {
  @extend %wrapper;

  &__methods {
    & > a {
      &:not(:last-child) {
        margin-bottom: 1em;

        @media (min-width: $breakpoint-sm) {
          margin-bottom: 0;
        }
      }
    }
  }
}
