.content {
  background: $cream;
  color: $black;
  overflow: auto;
}

.page {
  @extend %wrapper;
}

.contact {
  @extend %wrapper;

  &__methods {
    & > a {
      &:not(:last-child) {
        margin-bottom: 1em;

        @media (min-width: $breakpoint-sm) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__form {
    width: 85%;
    margin: 1em auto;
    padding: 1em;
    background: rgba($white, 0.5);
  }
}
