.footer {
  @extend %wrapper;
  @extend %font-size-small;
  line-height: 1.5;

  @media (min-width: $breakpoint-sm) {
    display: flex;
    flex-wrap: wrap;
  }

  &__nav {
    margin: 0 0 1em 0;

    @media (min-width: $breakpoint-sm) {
      flex: 0 1 50%;
      margin: 0;
    }

    ul {
      display: block;
      margin: 0;
      padding: 0;

      li {
        display: block;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__contact {
    margin: 0 0 1em 0;

    @media (min-width: $breakpoint-sm) {
      flex: 0 1 50%;
      text-align: right;
      margin: 0;
    }
  }

  &__colophon {
    padding: 2em 1em;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $breakpoint-sm) {
      flex: 0 0 100%;
    }
  }
}
