.home {
  &__content {
    @extend %wrapper;

    @media (min-width: $breakpoint-sm) {
      display: flex;
    }

    &__tagline {
      @media (min-width: $breakpoint-sm) {
        flex: 0 1 40%;
        padding-right: 1em;
      }
    }

    &__intro {
      line-height: 1.5;

      @media (min-width: $breakpoint-sm) {
        flex: 0 1 60%;
        padding-left: 1em;
      }
    }
  }

  &__photo {
    position: relative;
    overflow: hidden;

    &__overlay {
      background: rgba($black, 0.66);
      color: $white;
      z-index: +1;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 1em;

      @media (min-width: $breakpoint-sm) {
        padding: 2em;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__featured {
    padding-bottom: 50%;

    @media (min-width: $breakpoint-sm) {
      padding-bottom: 33%;
    }
  }

  &__featured-gallery {
    @media (min-width: $breakpoint-sm) {
      display: flex;
    }

    .home__photo {
      padding-bottom: 50%;

      @media (min-width: $breakpoint-sm) {
        flex: 0 1 50%;
        padding-bottom: 33%;
      }
    }
  }
}
