/* COLORS */
$white: #fff;
$black: #000;
$midnightblue: #15426B;
$taupe: #8C8782;
$cream: #EAE5E5;
$charcoal: #444040;

$color-primary: $midnightblue;
$color-secondary: $charcoal;

/* TYPOGRAPHY */

/* FONT FAMILIES */
%font-primary {
  font-family: 'Raleway', sans-serif;
}

%font-accent {
  font-family: 'Alegreya SC', serif;
}

/* FONT WEIGHTS */
%font-primary-normal {
  font-weight: 300;
}

%font-primary-semibold {
  font-weight: 400;
}

%font-primary-heavy {
  font-weight: 700;
}

%font-accent-normal {
  font-weight: 400;
}

/* FONT SIZES */
$font-base-size: 16px;

%font-size-small {
  font-size: $font-base-size * 0.8;
}

/* SPACING */
$standard-spacing-unit: 1rem;

/* RESPONSIVE BREAKPOINTS */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;

/* WRAPPERS */
%wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: $standard-spacing-unit;
}
