<footer class="footer">
  <nav class="footer__nav">
    <ul>
      <li>
        <a href="{{site.url}}/">Home</a>
      </li>
      <li>
        <a href="{{site.url}}/about">About</a>
      </li>
      <li>
        <a href="{{site.url}}/contact">Contact</a>
      </li>
      <li>
        <a href="{{site.url}}/gallery">Photo Gallery</a>
      </li>
    </ul>
  </nav>

  <div class="footer__contact" itemscope itemtype="http://schema.org/LocalBusiness">
    <meta itemprop="image" content="{{site.url}}/{{site.logo_image}}">
    <meta itemprop="url" content="{{site.url}}">

    <div itemprop="name">
      {{ site.title }}
    </div>

    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      {% if site.address_line %}
        <div itemprop="streetAddress">
          {{ site.address_line }}
        </div>
      {% endif %}

      <span itemprop="addressLocality">
        {{ site.address_city }}</span>,
      <span itemprop="addressRegion">
        {{ site.address_state }}
      </span>
      <span itemprop="postalCode">
        {{ site.address_zip }}
      </span>
    </div>

    <div>
      <a href="tel:{{ site.phone }}" onclick="ga('send', 'event', 'Phone', 'Click', 'Footer');">
        <span itemprop="telephone">
          {{ site.phone }}
        </span>
      </a>
    </div>

    <div>
      <a href="mailto:{{ site.email }}" onclick="ga('send', 'event', 'Email', 'Click', 'Footer');">
        <span itemprop="email">
          {{ site.email }}
        </span>
      </a>
    </div>
  </div>

  <div class="footer__colophon">
    &copy; {{ site.footer.copyright }}
  </div>
</footer>
