<footer class="footer">
  <nav class="footer__nav">
    <ul>
      <li>
        <a href="{{site.baseurl}}/">Home</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/about">About</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/contact">Contact</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/gallery">Photo Gallery</a>
      </li>
    </ul>
  </nav>

  <div class="footer__contact" itemscope itemtype="http://schema.org/LocalBusiness">
    <div itemprop="name">
      {{ site.title }}
    </div>

    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <div itemprop="streetAddress">
        {{ site.address_line }}
      </div>
      <span itemprop="addressLocality">
        {{ site.address_city }}</span>,
      <span itemprop="addressRegion">
        {{ site.address_state }}
      </span>
      <span itemprop="postalCode">
        {{ site.address_zip }}
      </span>
    </div>

    <div>
      <a href="tel:{{ site.phone }}" itemprop="telephone" onclick="ga('send', 'event', 'Phone', 'Click', 'Footer');">
        {{ site.phone }}
      </a>
    </div>

    <div>
      <a href="mailto:{{ site.email }}" itemprop="email" onclick="ga('send', 'event', 'Email', 'Click', 'Footer');">
        {{ site.email }}
      </a>
    </div>
  </div>

  <div class="footer__colophon">
    &copy; {{ site.footer.copyright }}
  </div>
</footer>
