<header class="header">
  <div class="header__inner">
    <a href="{{ site.url }}/" class="header__logo">
      {% svg "/images/keystone-masonry-logo.svg" %}
      <span>
        {{ site.title }}
      </span>
    </a>

    <nav class="header__nav">
      <ul>
        <li>
          <a href="{{ site.url }}/">Home</a>
        </li>
        <li>
          <a href="{{ site.url }}/about">About</a>
        </li>
        <li>
          <a href="{{ site.url }}/gallery">Photo Gallery</a>
        </li>
        <li>
          <a href="{{ site.url }}/contact" class="header__contact-cta icon icon--phone" onclick="ga('send', 'event', 'Contact', 'Click', 'Header');">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
