<header class="header">
  <div class="header__inner">
    <a href="#" class="header__logo">
      {% svg "/images/keystone-masonry-logo.svg" %}
      <span>
        {{ site.title }}
      </span>
    </a>

    <nav class="header__nav">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Photo Gallery</a>
        </li>
        <li>
          <a href="#">Testimonials</a>
        </li>
        <li>
          <a href="#" class="btn btn--contact" onclick="ga('send', 'event', 'Contact', 'Click', 'Header');">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
