---
layout: default
---

<div class="gallery">
  <div class="gallery__intro">
    {{ content }}
  </div>

  <ul class="gallery__images">
    <li>
      <img src="/images/gallery/decorative/brick-steps.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/brick-steps2.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/brick.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/columns.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/decorative1.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/decorative2.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/decorative3.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/entryway.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/garage-facade.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/house-facade.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/stone-surround.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/stone-wall.jpg">
    </li>
    <li>
      <img src="/images/gallery/decorative/stone-wall2.jpg">
    </li>
  </ul>
</div>
