<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Raleway:300,400,700" rel="stylesheet">

    {% include head-analytics.html %}

    {% include head-favicons.html %}

    {% include head-social.html %}
  </head>
  <body>
    {% include header.html %}

    <main class="content">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
