---
layout: default
---

<div class="home">
  <div class="home__content">
    <h1 class="home__content__tagline">
      {{ page.heading }}
    </h1>

    <div class="home__content__intro">
      {{ content }}
    </div>
  </div>

  <div class="home__photo home__featured">
    <img src="/images/gallery/home/keystone-archway.jpg" alt="Keystone Archway">
    <div class="home__photo__overlay">
      Stone Archway
    </div>
  </div>

  <div class="home__featured-gallery">
    <div class="home__photo">
      <img src="/images/gallery/decorative/decorative1.jpg" alt="Stone Decorative Elements">
      <div class="home__photo__overlay">
        Stone Decorative Elements
      </div>
    </div>

    <div class="home__photo">
      <img src="/images/gallery/decorative/entryway.jpg" alt="Stone Entryway">
      <div class="home__photo__overlay">
        Stone Entryway
      </div>
    </div>
  </div>
</div>
